<h1>Hi.</h1>
<ul>
    <li><a href="/whoami">$(whoami) - about me</a></li>
    <li><a href="/cwd">$(cwd) - projects</a></li>
    <li><a href="/curriculum-vitae">curriculum vitae</a></li>
    <li><a href="/health">health (site reliability dashboard)</a></li>
    <li><a href="/whoami">$(pwd) - contact me</a></li>
</ul>