@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&family=Montserrat&display=swap');

/* font-family: 'Fira Code', monospace; */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Montserrat', sans-serif;
}

p {
    @apply text-gray-600;
}

.container {
    @apply mx-auto px-5;
}

.btn {
    @apply bg-gray-800 px-10 py-3 rounded duration-300 text-white;
    font-family: 'Fira Code', monospace;
}

.btn:hover {
    @apply bg-gray-500 text-white;
}

.sticky {
    @apply fixed bg-white shadow;
}





.collapse.show {
    @apply block;
}

.toggler-icon {
    @apply block relative bg-black;
    height: 3px;
    width: 30px;
    margin: 6px 0;
}


.active > .toggler-icon:nth-child(1) {
    @apply transform rotate-45;
    top: 7px;
}

.active > .toggler-icon:nth-child(2) {
    @apply opacity-0;
}

.active > .toggler-icon:nth-child(3) {
    top: -8px;
    transform: rotate(135deg);
}





.page-scroll {
    @apply block px-5 text-gray-800;
}

.page-scroll:active,
.page-scroll:hover {
    @apply text-gray-900;
    font-weight: bold;
}







.iods {
    font-family: 'Fira Code', monospace;
}

.pricing-box {
    @apply m-3 text-center p-6 pb-10 shadow rounded duration-300;
}

.pricing-box:hover {
    @apply shadow-lg bg-white;
}

.package-name {
    @apply text-gray-600 font-bold uppercase;
    font-family: 'Fira Code', monospace;
}